.article{

}
.article__header {
    font-family: 'Courgette', cursive;
}
.article__foto {

}
.article__figcaption {
    font-family: 'Open Sans', sans-serif;
}
.article__paragraph {
    font-family: 'Open Sans', sans-serif;
}
