.main {
   display: flex;
}
.article, .article__content {
    display: flex;
    flex-direction: column;
}
.article__blog {
    width: 80%;
}

.blog__galery {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    background-color: var(--box_color);
}
.slideshow {
    color: var(--menu_color);
    font-size: 3em;
    position: relative;
}
.slide {
    padding: 10px;
}
.slide__name {
    color: var(--font_color);
    font-size: 20px;
    font-weight: bold;
    font-family:var(--content_font);
}
.article__blog__list {
    display: flex;
    flex-direction: column;
    justify-content: start;
    height: auto;
    width: 20%;
    padding-top: 95px;
}
.blog__menu {
    list-style-type: none;
}
.blog__menu__item {
    color: var(--font_color);
    font-family:var(--content_font);
    font-size: 1em;
}
.article__blog__link {
    text-decoration: none;
    font-family:var(--header_font);
    color: var(--font_color);
    font-weight: bold;
    font-size: 1.2em;
}
.article__blog__link:hover {
    color: var(--hover_color);
}
