.article__blog {
    display:flex;
    flex-direction:column;
    align-items: center;

}
.article__blog__content {
    padding:10px;
}
.blog__galery {
    display:flex;
    justify-content:space-between;
}