body {
    width: 100%;
    margin: 10px auto;
    }
main {
    margin: 10px auto;
    border: 2px solid #945000;

}

section {
    background-color:#FFCE93;
    width: 100%;
    height:100%;

}
.header {
    border: 2px solid #945000;
    background-image: url(../pictures/main/tlo.png);
    background-repeat: no-repeat;
    background-size: cover;
    /*margin: 0;*/
    display: flex;
}
.title h1,.title h3 {
    position: relative;
    center: 50%;
    color: #E07A00;
    left: 35%;
}
.title h1 {
    font-family: serif;
    font-size:xxx-large;
}
.title h3 {
    top: 20%;
}


