body {
    width: 80%;
    margin: 10px auto;

    }
main {
    /*height: 300px;*/
    width: 940px;
    margin: 10px auto;
    border: 2px solid #945000;
    display: flex;
    justify-content: center;
    height: 300px;
}
header {


}
section {
    background-color:#FFCE93;
    width: 100%;

    }
.header {
    border: 2px solid #945000;
    margin: 0;
    display: flex;

}
.title h1 {
    font-family: serif;
    font-size:xx-large;
    position: relative;
    left: 10%;
    top: 5%;
}
.title h3 {
    position: relative;
    left: 10%;
    top: 30%;

}


