:root {
    --bg_color: #FFA52C;
    --font_color: #995700;
    --box_color: #FFCB86;
    --border_color: #FF682C;
    --add_color: #FFB757;
    --hover_color: #0E5184;
    --menu_color: #FFCA2C;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*border: 1px solid #063A62;*/
}

body {
    font-size: 20px;
    background-color: var(--bg_color);
}

.header {
    display: flex;
    flex-direction: column;
    background-image: url("../pictures/main/tlo_1920_300.png");
    background-repeat: no-repeat;
    background-size: cover;
    max-width: 1920px;
    margin: 10px auto;
    padding: 20px;
    font-family: 'Courgette', cursive;

}

.topbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    width: 100%;
    color: var(--menu_color);
    font-size: 3em;
    font-weight: bold;

}


.topnav {
    /*margin: 10px;*/
    padding: 0 20px;
}

.topnav__menu {
    margin: auto 50px;
    display: flex;
    justify-content: space-between;
    list-style-type: none;
}


.topnav__link {
    text-decoration: none;
    color: var(--menu_color);
    font-size: 1.25em;
    font-weight: bold;
}

.topnav__link:hover {
    color: var(--hover_color);
}

.main {
    margin: 10px auto;
    max-width: 1920px;
    padding: 10px;
    background-color: var(--box_color);
    color: var(--font_color);
}


.article__header {
    width: 100%;
    max-width: 1920px;
    margin: 10px;
    padding: 20px;
    font-family: 'Courgette', cursive;
    font-size: 2em;
    font-weight: bold;

}

.article__content {
    display: flex;
    margin: 10px;
    font-family: 'Open Sans', sans-serif;

}

.article__body {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.article__foto {
    padding-right: 20px;

}

.article__figcaption {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;

}

.article__paragraph {
    text-indent: 1em;
    /*font-size: 1em;*/

    text-align: justify;

}

.article__footer {
    display: flex;
    width: 100%;
    max-width: 1920px;
    justify-content: center;
}

.footer {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 1920px;
    margin: 10px auto;
    font-family: 'Courgette', cursive;
    color: var(--font_color);
    background-color: var(--box_color);
    font-size: .5em;
    text-align: center;
    align-items: center;

}

/*!*Responsive Web Design *! in media.css*/

